@media only screen and (max-width:768px) {
    .navbar__nav .fa-bars{
        display: inline;
    }
    .navbar__nav a{
   display: none;
    }
    .header{
        width: 100%;
        height: 100%;
        background-color:#E9C012;
    }
    .banner{
        
        grid-template-columns: 1fr;
        
    }
    .banner h1{
        font-size: 2.2rem;
    }
    .about__content{
        grid-template-columns: 1fr;
    }
    .second__content{
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }
.testimonial__content{
   grid-template-columns: 1fr;
}
.contact__content{
    grid-template-columns: 1fr;
}
.footer__content{
grid-template-columns:repeat(2,1fr);
}
}